.container {
	display: flex;
	gap: 20px;
	border-radius: 10px;
}

.container .list_heading {
	margin: 0 0 10px 0;
	font-size: 1rem;
	font-weight: 500;
	padding: 8px 0;
}

.container ul {
	list-style: none;
	height: 400px;
	overflow-y: auto;
	width: 250px;
}

.material_list_container {
	border: solid 1px var(--card_border_mid);
}

.transfer_buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.list {
	min-width: 200px;
	padding: 10px;
	background-color: var(--button_background_cancel);
	border: 1px solid var(--card_border_mid);
	border-radius: 5px;
}
