.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: 1px solid var(--color-border);
	background-color: var(--color-background);
	border-radius: 10px;
	padding: 20px;
	box-shadow: var(--shadow-lg);
}

.class_container {
	border-right: 1px var(--color-border) solid;

	padding: 20px 20px;
}

.container h2 {
	font-size: 1.5rem;
	color: var(--color-text);
	text-align: left;
	margin-bottom: 20px;
}

.listItem {
	cursor: pointer;
	padding: 10px;

	border: 1px solid var(--color-background);

	list-style: none;
}

.listItem:hover:not(.selectedClass) {
	background-color: var(--color-primary-light);
}

.selectedClass {
	background-color: var(--color-primary-light);
}

.search_input {
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid var(--color-border);
	border-radius: 5px;
	font-size: 1rem;
}

.search_input:focus {
	outline: none;
	border-color: var(--color-primary);
}

.materials_container {
	padding: 20px;
}

.tab_container {
	display: flex;
	margin-bottom: 20px;
	border-bottom: 2px solid var(--color-border);
	list-style: none;
}
.tab {
	cursor: pointer;
	padding: 10px 0px 10px 0;
	border-bottom: 2px solid transparent;
	font-weight: 500;
	color: var(--color-text-disabled);
	margin-right: 20px;
}

.active_tab {
	background-color: var(--color-background);
	color: var(--color-text);
	border-bottom: 2px solid var(--color-primary);
	padding-bottom: 11.75px;
}

.tab_text {
	font-size: 1rem;
}

.disabled {
	opacity: 0;
	pointer-events: none;
	filter: grayscale(0.2);
	position: relative;
}

.class_list {
	height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 250px;
	background-color: var(--color-background);
}
