.container {
	max-width: 1080px;
	margin: 0 auto;
	background-color: var(--color-background);
	padding: 20px;
	width: 100%;
}

.admin_dashboard_heading {
	color: var(--color-text);
	text-align: left;
	margin-bottom: 30px;
}

.navList {
	list-style: none;
	padding-bottom: 10px;
	display: flex;
	justify-content: start;
	margin-bottom: 30px;
	border-bottom: solid 1px var(--color-border);
}

.navList li {
	margin-right: 20px;
}

.navList a {
	text-decoration: none;
	color: var(--color-text);
	padding-bottom: 10px;
	border-bottom: solid 2px transparent; /* Prevents undesired animation effect on hover */
	transition: border-color 0.3s ease, border-width 0.1s ease;
}

.navList a:hover:not(.activeLink) {
	border-bottom: solid 2px var(--color-primary-light);
}

.navList .activeLink {
	border-bottom: solid 2px var(--color-primary);
}

@media (--tablet-up) {
	.admin_dashboard_heading {
		margin-bottom: 60px;
	}
	.navList {
		margin-bottom: 60px;
	}
}
