.btn {
	margin: 20px auto;
	margin-right: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: var(--color-background);
	cursor: pointer;
}

.addClassBtn {
	background-color: var(--color-primary);
}

.saveClassesBtn {
	background-color: var(--color-success);
}

.textInput {
	padding: 8px;
	border: 1px solid var(--color-border);
	border-radius: 4px;
	font-size: 1rem;
	height: 38px; /* set explicit height for alignment */
	box-sizing: border-box;
}
.textInput:focus {
	outline: none;
	border-color: var(--color-primary);
	box-shadow: var(--shadow-focus);
}

.addClassFormRow {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.removeRowButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;

	height: 38px;
	width: 38px;
}

.deleteRowIcon {
	fill: currentColor;
	stroke: currentColor;
	width: 20px;
	height: 20px;
}

.removeRowButton:hover {
	background-color: var(--color-error-light);
	color: var(--color-error);
}

.removeRowButton:hover .deleteRowIcon {
	fill: var(--color-error);
	stroke: var(--color-error);
}

.addPersonButtonContainer {
	display: flex;
	align-items: center;
	margin-top: 35px;
	justify-content: center;
}
