.btn {
	margin: 20px auto;
	margin-right: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: var(--button_text_confirm);
	cursor: pointer;
}

.addClassBtn {
	background-color: var(--actionable_text_active);
}

.saveClassesBtn {
	background-color: var(--button_background_confirm);
}

.textInput {
	padding: 8px;
	border: 1px solid var(--card_border_mid);
	border-radius: 4px;
	font-size: 1rem;
	height: 38px; /* set explicit height for alignment */
	box-sizing: border-box;
	color: var(--text_dark);
	background: var(--button_background_cancel);
}
.textInput:focus {
	outline: none;
	border-color: var(--actionable_text_active);
	box-shadow: 0 0 0 2px rgba(93, 146, 192, 0.15);
}

.addClassFormRow {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.removeRowButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;

	height: 38px;
	width: 38px;
}

.deleteRowIcon {
	fill: currentColor;
	stroke: currentColor;
	width: 20px;
	height: 20px;
}

.removeRowButton:hover {
	background-color: var(--actionable_background);
	color: var(--actionable_text_active);
}

.removeRowButton:hover .deleteRowIcon {
	fill: var(--actionable_text_active);
	stroke: var(--actionable_text_active);
}

.addPersonButtonContainer {
	display: flex;
	align-items: center;
	margin-top: 35px;
	justify-content: center;
}
