.image_container {
	padding: 20px 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
}

.part_title {
	color: var(--text_dark);
	text-align: left;
}

.image {
	width: 100%;
	max-width: 100%;
	display: block;
}

.countdown_container {
	display: flex;
	justify-content: center;
}

.loading_state {
	margin: 0;
}

.test_content_container {
	--listen-content-max-width: 450px;
	width: min(100%, var(--listen-content-max-width));
	max-width: var(--listen-content-max-width);
	margin: auto;
}
