.button_container {
	display: flex;
	align-content: center;
	align-items: center;
}

.btn {
	font-size: small;
	padding: 0;
	width: 24px;
	height: 24px;
	flex: 0 0 24px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;

	margin: 2px;
	color: var(--text_dark);
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.25s ease-out;
}

.btn:hover {
	color: var(--text_light);
	border-color: grey;
}

.start:hover {
	color: green;
}

.start:focus {
	outline: none;
}

.stop:hover {
	color: blue;
}

.stop:focus {
	outline: none;
}

.stop:disabled {
	color: var(--text_light);
	cursor: default;
}

.stop:disabled:hover {
	color: var(--text_light);
	border-color: var(--text_light);
	cursor: default;
}

.reset {
	cursor: pointer;
}

.reset:hover {
	color: var(--text_dark);
}

.reset:focus {
	outline: none;
}
