.timer_bar_container {
	/* background-color: #ffffff; */
	/* padding: 1px 2px; */

	width: 100%;
	border-radius: 5px;
}

.timer_bar_outer {
	background-color: var(--color-primary);
	border-radius: 5px;
	border: 1px solid var(--color-text);
	border-radius: 5px;
	width: 100%;
	display: flex;
	justify-content: end;
	overflow: hidden;
}

.timer_bar {
	height: 10px;
	background-color: white;

	transition: width 0.1s linear;
}

.no_transition {
	transition: none;
}
