.container {
	color: var(--color-text-muted);
	text-align: center;
	font-size: 1.6em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.time_display {
	padding: 0 15px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Digital-7", sans-serif;
	font-size: 1.7rem;
}

/*media query for mobile devices*/
@media (max-width: 768px) {
	.timer_bar_container {
		padding: 10px 20px;
	}
	.timer_bar {
		height: 8px;
	}
	.time_display {
		font-size: 1.5rem;
	}
}

:fullscreen .time_display {
	font-size: 3rem;
}
