@font-face {
	font-family: "Digital-7";
	src: url("/fonts/digital-7.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.container {
	color: var(--color-text-secondary);
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background-alt);
	padding: 10px 20px;
	border-radius: 30px;
	max-width: 600px;
}

.time_display {
	padding: 0 15px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;

	font-weight: normal;
}
