.button_container {
	display: flex;
	align-content: center;
	align-items: center;
}

.btn {
	font-size: small;
	padding: 0.2rem 0.2rem 0rem 0.2rem;

	margin: 2px;
	color: var(--color-text-secondary);
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.25s ease-out;
}

.btn:hover {
	color: var(--color-text-muted);
	border-color: grey;
}

.start:hover {
	color: green;
}

.start:focus {
	outline: none;
}

.stop:hover {
	color: blue;
}

.stop:focus {
	outline: none;
}

.stop:disabled {
	color: var(--color-text-disabled);
	cursor: default;
}

.stop:disabled:hover {
	color: var(--color-text-disabled);
	border-color: var(--color-text-disabled);
	cursor: default;
}

.reset {
	cursor: pointer;
}

.reset:hover {
	color: var(--color-error-hover);
}

.reset:focus {
	outline: none;
}
