.container {
	display: flex;
	align-items: center;
	background-color: white;
	font-size: 1.2rem;
}

.toggle_group {
	width: 100%;
	display: flex;
	justify-content: space-between;

	overflow: hidden;
	background-color: white;
	font-size: 1rem;
}

.toggle_group a {
	text-decoration: none;
	transition: all 0.3s ease;
	flex: 1;
	text-align: center;
	padding: 10px;
}

.toggle_group_label {
	margin-right: 5px;
}

.activeLink {
	border-bottom: solid 2px #5d92c0;
	color: #5d92c0;
}

.inactiveLink {
	background-color: white;
	color: grey;
	border-bottom: 2px solid rgb(237, 237, 237);
}
