.timer_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 15px;
	flex: 1;
}

@media (--tablet-up) {
	.timer_wrapper {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* grid-row: test_tools; */
		/* flex: 1; */
		/* margin-top: 30px; */
	}
}
