.tags_container {
	padding: 10px 0;
	background-color: var(--card_background_mid);
	border: 1px solid var(--card_border_mid);
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: center;
}

.instruction {
	font-size: 1rem;

	color: var(--text_dark);
	text-align: center;
}
.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media (--tablet-up) {
	.tags_container {
		position: static; /* Ensure it's in normal flow */
	}
}
