.tags_container {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 0;
	background-color: var(--color-background-alt);
	border-radius: var(--radius-lg);
	border: 1px solid var(--color-border);
}

.instruction {
	font-size: 1rem;
	margin-bottom: 15px;
	color: var(--color-text);
	text-align: center;
}
.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
