.announcement {
	background-color: var(--card_background_mid);
	border: 1px solid var(--card_border_mid);
	padding: 10px;
	margin: 10px auto;

	max-width: var(--content-max-width);
}
.timer_container {
	max-width: var(--content-max-width);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

.question_container {
	margin-top: 25px;
	display: flex;
	align-items: center;
	color: var(--actionable_text_active);
}

.instruction {
	display: block;
	font-size: 1.1em;
	margin: 20px auto;
	text-align: center;
	max-width: var(--content-max-width);
	width: 100%;
}

.play_button {
	margin-left: 10px;
	height: 25px;
	width: 25px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	color: grey;
}
