.header {
	position: relative;
	grid-area: header;
	overflow: visible;

	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.header_toggle_btn {
	background: none;
	border: none;
	cursor: pointer;
	padding: 4px;
	display: flex;
	align-items: center;

	z-index: 2;
}

.header_content {
	transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s;
	overflow: visible;
	/* max-height: 200px; */
	opacity: 1;
}

.header_content.collapsed {
	max-height: 0;
	opacity: 0;
	pointer-events: none;
}

.header_content.expanded {
	/* max-height: 200px; */
	opacity: 1;
}

@media (--tablet-up) {
	.header_toggle_btn {
		display: none;
	}
	.header_content {
		/* max-height: none !important; */
		opacity: 1 !important;
		pointer-events: auto !important;
	}
}
