.test_wrapper_container {
	margin: 30px;
	padding: 60px 50px;
	background-color: var(--color-background);
	border-radius: 10px;
	max-width: 1080px;
	margin: auto;
}

.test_wrapper_container p {
	font-size: 1.3rem;
	line-height: 1.5;
	color: var(--color-text);
	margin: 10px 0;
	max-width: 700px;
	margin: 0 auto;
}
