.choices {
	font-size: 1.4rem;
	margin-left: 25px;
}

.option {
	margin: 8px;
}

.dice_icon {
	color: grey;
	cursor: pointer;
	transition: all ease 0.3s;
}

.dice_icon:hover {
	color: var(--color-primary);
	transform: scale(1.05);
}
