.container {
	display: flex;
	gap: 20px;
	border-radius: 10px;
}

.list {
	min-width: 200px;
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	list-style: none;
}

.list_container {
	flex-grow: 1;
}

.list_container .list_heading {
	margin: 0 0 10px 0;
	font-size: 1rem;
	font-weight: 500;
	padding: 8px 0;
}
