.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 0;
}

.time_instructions {
	font-size: 1rem;
	margin: 1em 0;

	color: var(--color-text);
	margin: 0;
	width: 320px;
	border: 1px solid var(--color-border);
	padding: 3px 45px;
}
