.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 0;
}

.time_instructions {
	font-size: 1rem;
	margin: 1em 0;

	color: var(--text_dark);
	margin: 0;
	width: 320px;
	border: 1px solid var(--card_border_mid);
	padding: 3px 45px;
}
