@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	font-family: "Roboto", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
}

.announcement {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px auto;
	max-width: 1080px;
}
h1 {
	font-size: 3em;
	text-align: center;
	margin: 20px 0;
}

h2 {
	font-size: 2em;
	text-align: center;
	margin: 20px 0;
}
p {
	margin: 10px 0;
}
audio {
	display: block;
	margin: 20px auto;
	width: 100%;
	max-width: 600px;
}

.timer_container {
	max-width: 1080px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

hr {
	border: 1px solid darkgray;
	margin: 50px auto;
	width: 100%;
	max-width: 600px;
}

.scrollable_outer {
	position: relative;
	border: 1px solid #ccc;
	background: white;
	border-radius: 10px;
}

.scrollable_inner {
	padding: 10px 0;
	overflow-y: scroll;
	border-radius: 10px;
}

/* Scrollbar styling */
.scrollable_inner::-webkit-scrollbar {
	width: 8px;
}

.scrollable_inner::-webkit-scrollbar-thumb {
	background-color: #bbb;
	border-radius: 4px;
	margin: 4px 0;
}

.scrollable_inner::-webkit-scrollbar-track {
	background: transparent;
}

.action_button {
	background-color: #3b97ff;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 10px 0 0;
	width: fit-content;
	font-size: 0.9rem;
}

.action_button:hover {
	background-color: #2a7bbf;
}
.action_button.save_button {
	background-color: #4caf50;
	color: white;
}

.action_button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}
