@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("./styles/media.css"); /* Import PostCSS custom media FIRST */
@import url("./styles/globals.css");

#root {
	width: 100dvw;
	height: 100dvh;
	flex: 1;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	width: 100dvw;
	height: 100dvh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background-gradient);
}

.announcement {
	background-color: var(--color-background-light);
	border: 1px solid var(--color-border);
	padding: 10px;
	margin: 10px auto;
	max-width: 1080px;
}

h1 {
	font-size: 2rem;
	text-align: center;
	margin: 20px 0;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	margin: 20px 0;
}

p {
	margin: 10px 0;
}

audio {
	display: block;
	margin: 20px auto;
	width: 100%;
	max-width: 600px;
	height: 40px;
}

.timer_container {
	max-width: 1080px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

hr {
	border: 1px solid darkgray;
	margin: 50px auto;
	width: 100%;
	max-width: 600px;
}

.scrollable_outer {
	position: relative;
	border: 1px solid var(--color-border);
	background: white;
	border-radius: 10px;
}

.scrollable_inner {
	padding: 10px 0;
	overflow-y: scroll;
	border-radius: 10px;
}

.scrollable_inner::-webkit-scrollbar {
	width: 8px;
}

.scrollable_inner::-webkit-scrollbar-thumb {
	background-color: #bbb;
	border-radius: 4px;
	margin: 4px 0;
}

.scrollable_inner::-webkit-scrollbar-track {
	background: transparent;
}

.action_button {
	background-color: #3b97ff;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 10px 0 0;
	width: fit-content;
	font-size: 0.9rem;
	transition: all ease 0.3s;
}

.action_button:hover {
	background-color: #2a7ae4;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	font-size: 1.2rem;
	color: var(--color-text-secondary);
}

.mobile_side_padding {
	padding-left: 8px;
	padding-right: 8px;
}

.mobile_side_margin {
	margin-left: 8px;
	margin-right: 8px;
}

.fade_in {
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Use for content that should extend from under the top nav bar down to the bottom nav bar, without pushing bottom navbar off the screen and with no vertical scrolling */
.full-height-mobile-content {
	height: calc(100dvh - 141.5px);
}

.full-height-mobile-no-bottom-nav {
	height: calc(100dvh - 55.5px);
	overflow-y: auto;
}

@media (--tablet-up) {
	#root {
		display: revert;
	}
}
