.body {
	font-size: 1.3rem;
	line-height: 1.5;
	color: #333;
	margin: 10px 0;
	max-width: 700px;
	margin: 0 auto;
}

.timer_container {
	max-width: 1080px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}
